/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  background-image:
  linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.4)), url("/assets/home-backgraound.png");
  background-size: cover;
  background-position: center;

}
