#nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5em;
    background: rgba(33, 150, 243, 0.9); /* Primary color with transparency */
    background: linear-gradient(to right, rgba(243, 33, 184, 0.2), rgba(3, 169, 244, 0.2)); /* Gradient effect with transparency */
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0,0,0,.2); /* Subtle shadow for depth, remove if unwanted */
    color: white; /* Adjust text color for better contrast */
}

#nav-bar-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    max-width: 1200px; /* Centering content */
    margin: 0 auto;
}

#nav-bar-left, #nav-bar-right {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2em;
}

#nav-bar-right {
    justify-content: flex-end;
}

.nav-bar-items {
    font-size: 1em;
    display: inline-block;
    cursor: pointer;
    padding: 0.5em 1em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-bar-items:hover, .nav-bar-items:focus {
    background-color: rgba(255, 255, 255, 0.2); /* Light hover effect for contrast */
    color: #ffffff;
    border-radius: 4px;
}
